body {
  font-family:serif;
}

header{
  background-color: #4169e1;
  height:100px;
}


.header-logo {
  float:;
  font-size: 40px;
  color: #fff;
  float:left;
  padding:20px;


}

.header-list li{
  list-style: none;
  float:left;
  font-size:22px;
  color:#fff;
  padding:30px 25px;
}

.main{

}
